* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: "FiraCode Nerd Font";
}

// Global Styles

@import "mocha.scss";

.bar {
  background-color: $mantle;
  color: $text;
}

// Workspace Styles

$colors: $flamingo, $pink, $maroon, $mauve, $peach, $yellow, $teal, $sapphire, $blue, $lavender;

.workspace {

  @for $i from 1 through 10 {
    &.entry-#{$i} {
      .text {
        padding: 0 5px;
        color: $crust;
        background-color: mix(nth($colors, $i), $mantle, 30%);

        &.active {
          background-color: mix(nth($colors, $i), $mantle, 100%);
        }

        &.empty {
          color: transparent;
        }
      }

      .seperator {
        font-size: 21px;

        &.up {
          margin-top: -1px;
          margin-bottom: -2px;
          color: mix(nth($colors, $i), $mantle, 30%);

          &.active {
            color: mix(nth($colors, $i), $mantle, 100%);
          }
        }

        &.down {
          margin-left: -12px;
          margin-right: -1px;

          margin-bottom: -1px;
          margin-top: -2px;

          @if $i ==10 {
            color: transparent;
          }

          @else {
            color: mix(nth($colors, $i + 1), $mantle, 30%);

            &.active {
              color: mix(nth($colors, $i + 1), $mantle, 100%);
            }
          }
        }
      }
    }
  }
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
}

checkbutton {
  all: unset;
  margin: 4 20px;
  border-radius: 50%;
  background-color: $surface0;
}

.metric scale trough highlight {
  all: unset;
  background-color: $blue;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #5d96d3;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $surface0;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
